<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src = "{{ url_for('static', filename = 'app.js')}}"></script>

</head>
<body style = "background-image: url({{ url_for('static', filename = 'pink dust.png') }}); text-align: center; color: white; font-family: 'Josefin Sans', sans-serif;">

    <h1 style = "padding-top: 10%;">Belly Button Biodiversity Dashboard</h1>
        <p style = "padding-bottom: 10%;">Use the interactive charts below to explore the dataset</p>


    <div class = "container-fluid">

        <div class="row" style="padding-bottom: 5%;">

            <div class="col-sm-2">
                <div style="border: 2px; background-color: grey; padding-top: 5%; padding-bottom: 5%; border-radius: 3px;">
                <label for="selDataset">SELECT Sample</label>
                <select id="selDataset" onchange="optionChanged(this.value)" style="color: black; border-radius: 3px;">
                </select>
                </div>
                <div style="background-color: white; border-radius: 3px";>
                    <h3 style="padding-top: 5%; padding-bottom: 5%; background-color: purple; border-top-left-radius: 3px; border-top-right-radius: 3px;">Sample Metadata</h3>
                    <table style="color: black; text-align: left; margin: 0 auto;">
                        <tr>
                            <td>AGE</td>
                            <td id = "age" style="padding-left: 5%;"></td>
                        </tr>
                        <tr>
                            <td>BBTYPE</td>
                            <td id = "bbtype" style="padding-left: 5%;"></td>
                        </tr>
                        <tr>
                            <td>GENDER</td>
                            <td id = "gender" style="padding-left: 5%;"></td>
                        </tr>
                        <tr>
                            <td>LOCATION</td>
                            <td id="location" style="padding-left: 5%;"></td>
                        </tr>
                        <tr>
                            <td>SAMPLEID</td>
                            <td id = "sampleid" style="padding-left: 5%;"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-sm-4">
            <div id = "pie"></div>
            </div>

            <div class="col-sm-6">
                <div id="washes"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
               <div id = "bubble"></div>
            </div>
        </div>

    </div>

</body>
</html>

